#chart_div{
    width: 1200px;
    height: 600px;
    margin: 5px;
}

.result{
    /* display:none; */
}

.btn-s {
    width: 30%;
    height: 50%;
}

.btn-s:hover {
    border: 5px solid #004085a8 !important;
}

.img-s {
    width: 100%;
}

.img-s1 {
    width: 70%;
}

#chart_div {
    width: 100% !important;
    height: 100% !important;
}

.photo {
    width: 100%;
}

.photo1 {
    width: 80%;
}

.main {
    display: flex;
    padding: 20px;
}

.hypothesis {
    display: none;
}